# App
APP_WEB_URL=http://localhost:3000
APP_API_URL=http://localhost:3333

# Auth
SECRET_TOKEN=
SECRET_REFRESH_TOKEN=

# Mail
MAIL_DRIVER=ethereal
FORGOT_MAIL_URL=http://localhost:3333/password/reset

# Storage
STORAGE_DRIVER=disk

# Redis
REDIS_HOST=gobarber_redis
REDIS_PORT=6379

# Postgres
POSTGRES_HOST=rentx_postgres
POSTGRES_PORT=6379
POSTGRES_USER=docker
POSTGRES_PASS=docker
POSTGRES_DB=rentx

# Mongo
MONGO_HOST=rentx_mongo
MONGO_PORT=6379
MONGO_DB=rentx